table {
    width: 100%;
    border-collapse: collapse;
    color: aliceblue;
    background-color: cornflowerblue;
    border: 2px solid black;
}

td {
    background-color:rgb(226, 214, 214) ;
    color: #000;
    text-align: center;
}

h1{
    color: brown;
    text-align: center;
}

h2 {
    color: rgb(73, 110, 8)
}

body {
    font-family: 'Courier New', Courier, monospace;
}